# Snowflake
snowflake-connector-python==3.10.0

# Kafka (confluent-kafka est plus moderne et compatible Python 3.12)
confluent-kafka

# PostgreSQL (for testing)
psycopg2-binary

# Environment variables
python-dotenv

